<ul class="nav nav-pills nav-stacked">
  {{#each serviceOptions as |svc|}}
    <li role="service" class={{if svc.active 'active'}}>
      {{link-to svc.name 'services.service' svc.name }}
    </li>
  {{/each}}
</ul>
